@import url("tokens.css");
@import url("tokens.css");

header {
  color: var(--color-background-header);
  background-color: var(--color-background-page);
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: var(--color-background-header);
  background-color: var(--color-background-page);
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--color-body);
  background-color: var(--color-background-page);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}
