@import url("tokens.css");

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  color: var(--color-body);
  background-color: #1e1e1e;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  background-color: #007acc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}

header h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: #d4d4d4;
}

header .icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #d4d4d4;
}

.left-logo {
  margin-right: 10px;
}

.right-logo {
  margin-left: 10px;
}

nav {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
}

nav a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #d4d4d4;
  background-color: #007acc;
  padding: 10px 20px;
  border-radius: 5px;
}

nav a:hover {
  background-color: #005f9e;
}

.manufacturer-cards .card .brand-logo {
  display: block;
  margin: 0 auto 10px auto; 
  height: 80px; 
  width: 80px; 
  fill: #9cdcfe
}

.manufacturer-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}

.manufacturer-cards .card {
  flex: 1;
  padding: 20px;
  border: 1px solid #007acc;
  border-radius: 10px;
  background-color: #252526;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 250px;
  max-width: 400px;
}

.manufacturer-cards .card h2 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 1.8rem;
  color: #d4d4d4;
}

.manufacturer-cards .card a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #007acc;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
}

.manufacturer-cards .card a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 60%;
  padding: 20px;
  border: 1px solid #007acc;
  border-radius: 10px;
  background-color: #252526;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card h2 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  margin-bottom: 10px;
  color: #d4d4d4;
}

.card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #9cdcfe;
}

dl {
  margin: 20px 0;
  color: #d4d4d4;
}

dt {
  font-weight: 700;
  margin-bottom: 5px;
  color: #9cdcfe;
}

dd {
  margin-left: 20px;
  color: #d4d4d4;
}

.collection-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
}

.stat {
  text-align: center;
}

.stat .value {
  font-size: 2.5rem;
  font-weight: bold;
  color: #9cdcfe;
  margin: 0;
}

.stat .label {
  font-size: 1.1rem;
  color: #d4d4d4;
  margin-top: 10px;
}

.combined-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}

.collection-info {
  flex: 1;
}

.collection-info h3 {
  font-size: 1.5rem;
  color: #9cdcfe;
}

.collection-info ul {
  list-style: none;
  padding: 0;
}

.collection-info ul li {
  margin-bottom: 10px;
}

.collection-info ul li a {
  color: #007acc;
  text-decoration: none;
}

.collection-info ul li a:hover {
  text-decoration: underline;
}

.manufacturer-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #9cdcfe;
  text-align: center;
  margin: 20px 0;
}

.designer-section h3 {
  font-size: 1.5rem;
  color: #9cdcfe;
}

.designer-section ul {
  list-style: none;
  padding: 0;
}

.designer-section ul li {
  margin-bottom: 10px;
}

.designer-section ul li a {
  color: #007acc;
  text-decoration: none;
}

.designer-section ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .collection-stats {
    flex-direction: column;
  }

  .combined-card {
    flex-direction: column;
  }

  .stat {
    margin-bottom: 20px;
  }

  .card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }
}
